body{
    position: relative;
    background-color: #ff9d9d;
}
  
  /* Placement de la roulette */
  #roulette{
    position:absolute;
    transform: scale(1.5);
  }
  
  /* Placement de la fleche */
  #fleche{
    position:absolute;
    margin-left:30%;
    margin-top:0px;
    width: 300px;
    
      /* Centre de rotation de la flèche. Attention, selon les navigateurs, il faut l'écrire differemment. C'est pourquoi il y a 5 fois la même ligne. */
    transform-origin: 0%;  /*CSS3 */
    /*-moz-transform-origin: 32%; /* Firefox */
    /*-webkit-transform-origin: 32%; /* Webkit */
    /*-o-transform-origin: 32%; /* Opera */
    /*-ms-transform-origin: 32%; /* IE 9 */
  }
  
      /* Tester:
       - ease
       - linear
       - ease-in
       - ease-out
       - ease-in-out
       - cubic-bezier(0,4000,0,9000) 
      */
  
.rouletteContainer{
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
}      


.button{
    width: 500px;
    height: 200px;
    font-weight: 700;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: red;
    border-radius: 20px;
    margin-left: 340px;
}

.buttonText{
    color: white;
    font-size: 64px;
}

.questionContainer{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 3;
    top: 300%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 20px 100px;
    margin: 0;
    transition: all ease .6s;
}

.questionTitle{
    color: white;
    font-size: 92px;
    font-weight: 900;
    margin-bottom: 20px;
}

.description{
    color: white;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
}

.question{
    color: white;
    font-size: 80px;
    font-weight: 400;
    margin-bottom: 200px;
}

.closeButton{
    width: 500px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: red;
    border-radius: 20px;
}

.closeTxt{
    color: white;
    font-size: 64px;
    font-weight: 700;
}

.timerContainer{
    display: none;
    flex-direction: column;
    align-items: center;
}

.timer{
    color: white;
    font-size: 60px;
    margin-bottom: 50px;
}

.startButton{
    width: 500px;
    height: 200px;
    background-color: green;
    border-radius: 20px;
    margin-bottom: 60px;
    font-size: 60px;
    color: white;
}

*{
    font-family: 'Roboto', sans-serif;
}