body{
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    min-height: 600px;
    background: linear-gradient(#FF986B, #F94A4A);
    margin: 0;
    padding: 0;
    font-size: 26px;
    position: relative;
}

textarea:hover, input:hover, textarea:active, input:active, textarea:focus, input:focus {
    outline:0px !important;
}

a{
    text-decoration: none;
}

h1{
    font-size: 90px;
    color: white;
    font-family: Orangina;
    text-align: center;
}

.btnText{
    font-size: 60px;
    color: #F94A4A;
    font-family: Orangina;
}

#logoMentalo{
    display: block;
    width: 760px;
    height: auto;
    margin: 20px auto;
}

/* Container Add Player */


.containerAddPlayer{
    width: 50%;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    border: 15px solid white;
    margin: 0 auto;
    padding: 4%;
    margin-bottom: 80px;
}

.inputAddPlayer{
    display: inline-block;
    width: 75%;
    height: 100px;
    background-color: transparent;
    border: none;
    font-size: 56px;
    font-family: Orangina;
    color: white;
    text-align: center;
    margin: 0 5%;
    transition: all .4s ease;
    cursor: pointer;
    border-radius: 10px;
    border: 5px solid transparent;
}


.inputAddPlayer:hover{
    box-shadow: 0 0 10px #00000020;
    border-radius: 20px;
}

.inputAddPlayer::placeholder{
    font-family: Orangina;
    font-size: 56px;
    color: rgba(255, 255, 255, 0.8);
}

.inputAddPlayer::after{
    border: none;
}

.noNameInput{
    border: 5px solid #F94A4A60;
    box-shadow: 0px 0px 20px #F94A4A ;
    animation-name: noName;
    animation-duration: .3s;
}

@keyframes noName {
    0%{
        margin-left: 5%;
    }
    25%{
        margin-left: 6%;
    }
    50%{
        margin-left: 5%;
    }
    75%{
        margin-left: 6%;
    }
    100%{
        margin-left: 5%;
    }
}

.buttonAddPlayer{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #F94A4A;
    border: none;
    border-radius: 100%;
    color: white;
    font-size: 68px;
    font-weight: 700;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    transition: all .2s ease;
}

.buttonAddPlayer:hover{
    transform: rotate(90deg);
}

.buttonAddPlayer p{
    margin: 0;
}

/* Beer Count */

.beerCountContainer{
    width: 50%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.beerCountContainer .beerImg{
    width: 100px;
    height: auto;
    cursor: pointer;
}

.beerCountContainer .whiteDotImg{
    width: auto;
    height: auto;
    cursor: pointer;
}


/* List player */

.containerlistPlayer{
    width: 40%;
    min-width: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.subTitle{
    display: inline;
    text-align: center;
    font-size: 42px;
    color: white;
    font-family: Orangina;
}


.rowPlayerList{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subTitlePlayer{
    text-align: center;
    font-size: 36px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.button1{
    width : 50%;
    height: 200px;
    margin: 0 auto;
    background-color: white;
    border: 10px solid #FF986B;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    transition: all .4s ease;
}

.button1:hover{ 
    background-color: #ececec;
    width: 52%;
}

/* Page de jeu */

.pageGame{
    display: none;
    width: 50%;
    height: 700px;
    margin: 100px auto;
    opacity: 0;
    transition: all ease 1s;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.navBtn{
    position: absolute;
    width: 100px;
    height: 100px;
    top : 0%;
    right: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#replay{
    width: 40px;
    cursor: pointer;
}

#settings{
    width: 40px;
    cursor: pointer;
}

/* .pageGame>h1{
    font-size: 90px;
    color: white;
    font-family: Orangina;
    text-align: center;
} */

.question{
    color: white;
    font-family: 'Poppins';
    font-size: 36px;
    text-align: center;
}

.questionAnimation{
    animation-name: swish;
    animation-duration: .4s;
}

@keyframes swish{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        margin-left: 0;
    }
}

.listeScoreGame{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.scoreJoueurs{
    font-size: 24px;
    color: white;
    font-family: 'Poppins';
    margin: 12px 0;
}



/* Page Résultats */

.pageResults{
    display: none;
    width: 50%;
    height: 700px;
    margin: 100px auto;
    opacity: 0;
    transition: all ease 1s;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* .pageResults>h1{
    font-size: 90px;
    color: white;
    font-family: Orangina;
    text-align: center;
} */

/* CHANGE SCORES */

.rowScorePlayer{
    width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rowScorePlayer input{
    width: 70px;
    height: 40px;
    text-align: center;
    font-family: Fredo;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}



/* CHALLENGES */

.pageChallenge{
    display: none;
    width: 50%;
    height: 700px;
    margin: 100px auto;
    transition: all ease 1s;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
}

#nameJoueurChallenge{
    font-family: Fredo;
}

.subTitleSoft{
    color: white;
    font-family: Poppins;
    font-size: 32px;
    text-align: center;
}

.defiContainer{
    width: 80%;
    margin: 0 auto 50px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.firstChallenge, .secondChallenge{
    width: 250px;
    height: 250px;
    background-color: #FFFFFF15;
    border: 5px solid white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.firstChallenge img, .secondChallenge img{
    width: 80px;
    height: auto;
}

.firstChallenge h3, .secondChallenge h3{
    font-size: 24px;
    color: white;
    font-family: Poppins;
    text-align: center;
}


/* PARAMETRES */

.settingsContainer{
    display: none;
    position: absolute;
    width: 70%;
    min-height: 500px;
    border: 10px solid #7a7a7a;
    border-radius: 20px;
    top : 10%;
    left: 15%;
    background-color: #343434;
}

.nameContainer{
    display: flex;
    align-items: center;
}

.nameContainer img{
    width: 40px;
    margin-right: 20px;
    cursor: pointer;
}

.setLevelContainer{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 0;
}

.btnMinus, .btnMore{
    width: 30px;
    height: 30px;
    background-color: #FF986B;
    border-radius: 100%;
    text-align: center;
    cursor: pointer;
}

.rowSettings{
    width: 50%;
    min-width: 250px;
}

#close{
    width : 50px;
    height: auto;
    margin : 20px;
    cursor: pointer;
}

/* COMMENT JOUER */

.btnOpen{
    position: absolute;
    top : 0px;
    left: 15px;
    width: 240px;
    height: 60px;
    cursor: pointer;
    background-color: #F94A4A;
    border: 5px solid white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
}

.btnOpen:hover{
    background-color: #b12626;
}

.btnOpen h5{
    color: white;
    font-family: Poppins;
}

.howToPlayContainer{
    display: none;
    position: absolute;
    top: 0;
    left: 5%;
    width: 70%;
    min-height: 600px;
    background-color: #343434;
    border: 10px solid #7a7a7a;
    border-radius: 20px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2% 10% 5% 10%;
}

.howToPlayContainer .closeHowToPlay{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.howToPlayContainer h1{
    font-family: Fredo;
    font-size: 76px;
}

.howToPlayContainer .chooseSectionHow{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}

.howToPlayContainer .sectionBeer{
    width: 30%;
    height: 60px;
    background-color: #F94A4A;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    transition: all .3s ease;
}

.howToPlayContainer .sectionBeer:hover{
    background-color: #b12626;
}

.howToPlayContainer .sectionBeer h4{
    color: white;
    font-family: poppins;
}

.howToNiveaux{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.howToNiveaux p, .howToPartie p, .howToGage p{
    color: white;
    font-family: Poppins;
    margin-top: 50px;
}

.howToNiveaux img{
    width: 150px;
    margin-bottom: 50px;
}

.howToPartie{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
}

.howToPartie img{
    width: 600px;
    margin: 0 auto;
    display: block;
    margin-bottom: 50px;
    border-radius: 20px;
}

.howToGage{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
}

.howToGage img{
    margin-bottom: 50px;
    border-radius: 20px;
}

.howToGage :nth-child(2){
   width: 500px;
}


/* CHANGE PLAYERS */

.editPlayerContainer{
    width: 50%;
    min-height: 600px;
    position: absolute;
    top : 5%;
    left: 25%;
    background-color: #343434;
    border: 10px solid #7a7a7a;
    border-radius: 20px;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
}

/* #closeEditPlayer{
    width: 40px;
    height: auto;
    margin: 10px 0 0 10px;
    cursor: pointer;
} */

.editPlayerContainer h1{
    margin : 20px 0;
    font-family: Fredo;
    font-size: 64px;
}

.editPlayerInner{
    display: flex;
    width: 80%;
    margin: 50px auto;
    justify-content: space-between;
    align-items: center;
}

.editPlayerInner .inputAddPlayer{
    border: 5px solid white;
    margin: 0;
    width: 50%;
}

.editPlayerLevel{ 
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editPlayerInner h2{
    font-family: Fredo;
    color: white;
}

#decreasePlayerLevel, #increasePlayerLevel{
    width: 50px;
    height: 50px;
    background-color: #F94A4A;
    color: white;
    font-size: 40px;
    font-family: Poppins;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.editPlayerValidation{
    width: 40%;
    height: 60px;
    background-color: green;
    border-radius: 20px;
    cursor: pointer;
    font-size: 36px;
    color: white;
    font-family: Fredo;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.editPlayerDelete{
    width: 40%;
    height: 60px;
    background-color: #F94A4A;
    border-radius: 20px;
    cursor: pointer;
    font-size: 26px;
    color: white;
    font-family: Fredo;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}



@font-face {
    font-family: Orangina;
    src: url(../fonts/Orangina-Demo.ttf) format("truetype");
}
@font-face {
    font-family: Fredo;
    src: url(../fonts/FredokaOne-Regular.ttf) format("truetype");
}


/* MEDIA QUERIES */

@media screen and (max-width:1610px) {
    .containerAddPlayer{
        width: 70%;
    }

    .btnText{
        font-size: 50px;
    }

    .pageChallenge{
        width: 70%;
    }
}

@media screen and (max-width:1150px) {
    .firstChallenge, .secondChallenge{
        width: 200px;
        height: 200px;
    }

    .firstChallenge h3, .secondChallenge h3{
        font-size: 18px;
    }

    .inputAddPlayer{
        width: 65%;
    }

    .inputAddPlayer::placeholder{
        font-size: 45px;
    }
}