body{
    width: 100vw;
    min-height: 600px;
    background: linear-gradient(#FF986B, #F94A4A);
    margin: 0;
    padding: 0;
    font-size: 26px;
}

textarea:hover, input:hover, textarea:active, input:active, textarea:focus, input:focus {
    outline:0px !important;
}

a{
    text-decoration: none;
}

h1{
    font-size: 90px;
    color: white;
    font-family: Orangina;
    text-align: center;
}

.btnText{
    font-size: 60px;
    color: #F94A4A;
    font-family: Orangina;
}

#logoMentalo{
    display: block;
    width: 760px;
    height: auto;
    margin: 20px auto;
}

/* Container Add Player */


.containerAddPlayer{
    width: 50%;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    border: 15px solid white;
    margin: 0 auto;
    padding: 4%;
}

.inputAddPlayer{
    display: inline-block;
    width: 75%;
    height: 100px;
    background-color: transparent;
    border: none;
    font-size: 56px;
    font-family: Orangina;
    color: white;
    text-align: center;
    margin-left: 5%;
}

.inputAddPlayer::placeholder{
    font-family: Orangina;
    font-size: 56px;
    color: rgba(255, 255, 255, 0.8);
}

.inputAddPlayer::after{
    border: none;
}

.buttonAddPlayer{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #F94A4A;
    border: none;
    border-radius: 100%;
    color: white;
    font-size: 68px;
    font-weight: 700;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

/* Beer Count */

.beerCountContainer{
    width: 50%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.beerCountContainer .beerImg{
    width: 100px;
    height: auto;
    cursor: pointer;
}

.beerCountContainer .whiteDotImg{
    width: auto;
    height: auto;
    cursor: pointer;
}


/* List player */

.containerlistPlayer{
    width: 50%;
    min-width: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 100px;
}

.subTitle{
    display: inline;
    width: 50%;
    text-align: center;
    font-size: 42px;
    color: white;
    font-family: Orangina;
}


.rowPlayerList{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.subTitlePlayer{
    text-align: center;
    font-size: 36px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.button1{
    width : 50%;
    height: 200px;
    margin: 0 auto;
    background-color: white;
    border: 10px solid #FF986B;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
/* 
.button1>h1{
    font-size: 60px;
    color: #F94A4A;
    font-family: Orangina;
} */

/* Page de jeu */

.pageGame{
    display: none;
    width: 50%;
    height: 700px;
    margin: 100px auto;
    opacity: 0;
    transition: all ease 1s;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.navBtn{
    position: absolute;
    width: 60px;
    height: 100px;
    top : 0%;
    right: 0%;
}

#replay{
    width: 40px;
    cursor: pointer;
}

/* .pageGame>h1{
    font-size: 90px;
    color: white;
    font-family: Orangina;
    text-align: center;
} */

.question{
    color: white;
    font-family: 'Poppins';
    font-size: 36px;
    text-align: center;
}

.listeScoreGame{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.scoreJoueurs{
    font-size: 24px;
    color: white;
    font-family: 'Poppins';
    margin: 12px 0;
}



/* Page Résultats */

.pageResults{
    display: none;
    width: 50%;
    height: 700px;
    margin: 100px auto;
    opacity: 0;
    transition: all ease 1s;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* .pageResults>h1{
    font-size: 90px;
    color: white;
    font-family: Orangina;
    text-align: center;
} */

/* CHANGE SCORES */

.rowScorePlayer{
    width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rowScorePlayer input{
    width: 70px;
    height: 40px;
    text-align: center;
}

/* CHALLENGES */

.pageChallenge{
    display: none;
    width: 50%;
    height: 700px;
    margin: 100px auto;
    transition: all ease 1s;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
}

.subTitleSoft{
    color: white;
    font-family: Poppins;
    font-size: 32px;
    text-align: center;
}

.defiContainer{
    width: 80%;
    margin: 0 auto 50px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.firstChallenge, .secondChallenge{
    width: 250px;
    height: 250px;
    background-color: #FFFFFF15;
    border: 5px solid white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.firstChallenge img, .secondChallenge img{
    width: 80px;
    height: auto;
}

.firstChallenge h3, .secondChallenge h3{
    font-size: 24px;
    color: white;
    font-family: Poppins;
    text-align: center;
}




@font-face {
    font-family: Orangina;
    src: url(../fonts/Orangina-Demo.ttf) format("truetype");
}
